[MASTER]
ignore=venv,.venv,build,dist,.git,__pycache__
load-plugins=pylint_pytest

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,R0801,W0511

[FORMAT]
max-line-length=100
indent-string='    '

[REPORTS]
output-format=colorized
reports=no

[DESIGN]
max-args=7
max-locals=20
max-returns=8
max-branches=15
max-statements=60
max-parents=7
max-attributes=10
min-public-methods=1
max-public-methods=20

[TYPECHECK]
ignore-mixin-members=yes

[VARIABLES]
dummy-variables-rgx=_

[LOGGING]
logging-modules=logging

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[MISCELLANEOUS]
notes=FIXME,XXX,TODO
